#ig-wrapper
  position: relative
  width: 960px
  box-shadow: 0px 0px 5px black
  font-family: arial
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  .ig-champion-splash
    position: absolute
    width: 960px
    height: 567px
  .ig-panel-top
    position: relative
    height: 567px
  .ig-author
    background-color: black
    color: white
    display: block
